<div class="container-fluid">
    <div class="row justify-content-around mx-1">

        <div class="col-12 col-lg-11 jumbotron bg-dark text-white text-center mt-3">
            <h1 class="display-4"><i class="fas fa-pizza-slice mr-1"></i>Grab A Slice!</h1>
        </div>

        <div class="col-12 col-lg-5 bg-dark rounded">
            <h1 class="text-center text-white py-2">Slices Grabbed</h1>
            <div class="container">
                <div class="row">
                    {{#each pizzas}}
                        {{#unless devoured}}
                        <div class="col-12 col-xl-6 mb-4">
                            <div class="card bg-warning">
                                <div class="card-body text-center">
                                    <h3 class="card-title">{{pizza_name}}</h3>
                                    <button class="btn btn-lg btn-danger change-devoured" data-id={{id}} data-devoured={{devoured}}>
                                        <i class="fas fa-pizza-slice mr-1"></i>Devour!
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5 bg-dark pb-3 rounded">
            <h1 class="text-center text-white py-2">Slices Eaten</h1>
            <div class="container">
                <div class="row">
                    {{#each pizzas}}
                        {{#if devoured}}
                        <div class="col-12 col-xl-6 mb-4">
                            <div class="card bg-warning">
                                <div class="card-body text-center">
                                    <h3 class="card-title">{{pizza_name}}</h3>
                                    <button class="btn btn-lg btn-danger change-devoured" data-id={{id}} data-devoured={{devoured}}>
                                        <i class="fas fa-utensils mr-1"></i>Grab Another Slice!
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 bg-dark text-white rounded my-3 pt-3">
            <h1 class="text-center">Enter A Pizza</h1>
            <hr>
            <form class="new-pizza-form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <textarea class="form-control bg-warning text-dark" id="newPizza" rows="3"></textarea>
                        </div>
                        <div class="col-12 col-md-4 mt-2 my-md-auto">
                            <button type="submit" class="btn btn-lg btn-block btn-danger"><h2>Grab A Slice!</h2></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>